{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="d-flex align-items-start justify-content-start">
            <h1 class="custom-title">About Me</h1>
        </div>
    </div>
    
    <div class="container mt-5 custom-container-about">
        <div class="row">
            <!-- Première colonne -->
            <div class="col-md-10">
                {# <h3 class="h3-about">Who I am</h3> #}
                <ul class="timeline">
                    <li class="mt-2">
                        <a href="#">Who I am</a>
                        <p>
                            My name is Mouhamed Diop and I'm a passionate full-stack developer. After obtaining my scientific baccalauréat and a degree in chemistry, I decided to follow my passion for computing and turned to web development.
                    I've had the opportunity to work on various projects involving different technologies, such as PHP with its Symfony framework, JavaScript, and Tailwind CSS... These experiences have enabled me to acquire solid expertise in the field of web development.
                    By working with major companies such as Emaus Connect and the AFAC Île de la Réunion association, I've been able to put my skills into practice and come up with effective solutions.
                    Today, I'm delighted when I'm writing lines of code, because it allows me to express my creativity and contribute to the realisation of concrete projects.
                        </p>
                    </li>
                    <li class="mt-2">
                        <a href="#">Educations</a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum arcu eu venenatis consectetur. Aliquam volutpat, nibh ac pulvinar aliquet, tellus sem scelerisque justo, vitae consequat lorem dolor at justo. Fusce vel felis sit amet nisl tincidunt congue vitae non lorem. Quisque et tortor ultrices, cursus nunc id, finibus mauris. Sed maximus, elit id malesuada tincidunt, felis velit hendrerit velit, in tristique urna diam nec ex. Sed eget posuere lacus. Sed hendrerit, justo at.
                        </p>
                    </li>
                    <li class="mt-2">
                        <a href="#">Professional experience</a>
                        <p>
                            As a web developer at @Wild Code School, I've had the opportunity to work on three exciting projects. Firstly, I contributed to the development of an immersive art gallery application for the AFAC association, showcasing works of art with a view to the 2023 European Heritage Days. This application also includes an admin interface dedicated to managing exhibitions and works of art. Next, I took part in the creation of a dynamic website for station networks, displaying trains and timetables departing from each station, while integrating user accounts and an admin interface for CRUD operations. Finally, I created a website for a fictitious professional photographer, with the aim of developing his reputation. The site, designed in HTML, CSS and JavaScript, aims to showcase the photographer's work and offer visitors a captivating experience.
                        </p>
                    </li>
                </ul>
            </div>
{% endblock %}
