{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
     
    <div class="container mt-4">
        <div class="d-flex align-items-center justify-content-center">
            <h1 class="custom-title">About Me</h1>
        </div>
    </div>
    <div class="container mt-5 custom-container-about">
        <div class="d-flex flex-column">
            <div class="para_title p-3 mb-3">
                <div class="circle"></div><h3 class="h3_about">Qui suis-je</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum arcu eu venenatis consectetur. Aliquam volutpat, nibh ac pulvinar aliquet, tellus sem scelerisque justo, vitae consequat lorem dolor at justo. Fusce vel felis sit amet nisl tincidunt congue vitae non lorem. Quisque et tortor ultrices, cursus nunc id, finibus mauris. Sed maximus, elit id malesuada tincidunt, felis velit hendrerit velit, in tristique urna diam nec ex. Sed eget posuere lacus. Sed hendrerit, justo at.</p>
            </div>
            <div class="para_title p-3 mb-3">
                <div class="circle"></div><h3 class="h3_about">Formations</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum arcu eu venenatis consectetur. Aliquam volutpat, nibh ac pulvinar aliquet, tellus sem scelerisque justo, vitae consequat lorem dolor at justo. Fusce vel felis sit amet nisl tincidunt congue vitae non lorem. Quisque et tortor ultrices, cursus nunc id, finibus mauris. Sed maximus, elit id malesuada tincidunt, felis velit hendrerit velit, in tristique urna diam nec ex. Sed eget posuere lacus. Sed hendrerit, justo at.</p>
            </div>
            <div class="para_title p-3">
                <div class="circle"></div> <h3 class="h3_about">Mes experiences</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum arcu eu venenatis consectetur. Aliquam volutpat, nibh ac pulvinar aliquet, tellus sem scelerisque justo, vitae consequat lorem dolor at justo. Fusce vel felis sit amet nisl tincidunt congue vitae non lorem. Quisque et tortor ultrices, cursus nunc id, finibus mauris. Sed maximus, elit id malesuada tincidunt, felis velit hendrerit velit, in tristique urna diam nec ex. Sed eget posuere lacus. Sed hendrerit, justo at.</p>
            </div>
        </div>
    </div>
        
{% endblock %}
