// Variables
$primary-bg: #1b0927;
$secondary-bg: #845EC2;
$text-light: whitesmoke;
$text-dark: #c4c8ca96;

 /* Global Styles for About Page */
//  .custom-container-about {
//     position: relative;
//     padding-left: 6%!important;
//     // padding-right: 7% !important;
// }
// .row {
//     margin-left: 7rem !important;
//     // padding-right: 0px !important;
// }
@media (min-width: 992px) {
    .ml-lg-8rem {
        margin-left: 8rem;
    }
}

.col-about {
    padding-left: 0 !important;
}
// @media (min-width: 992px) { /* Pour les écrans larges (lg) et plus */
//     .row {
//         padding-left: 3rem !important;
//         padding-right: 3rem !important;
//     }
// }

// @media (min-width: 768px) {
//     .row {
//         padding-left: 100px !important;
//     }
// }
.intro_text {
    font-size: 3rem;
    font-weight: 700;
    color: #e1e1e1;
    margin-left: 10px !important;
}
.intro_text_2 {
    font-size: 2rem;
    font-weight: 400;
    color: #e1e1e1;
    padding-left: 10px !important;
    
}

.h3-about {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #e1e1e1;
}

/* Timeline Styles */
ul.timeline {
    position: relative;
    padding-left: 28px;
    list-style: none;
    padding-bottom: 44px;
}

ul.timeline::before {
    content: " ";
    background: #ffffff5e; /* Line color */
    position: absolute;
    left: 12px; /* Adjust the position so that the line is centered in relation to the circle */
    top: 0;
    width: 1px; /* Line thickness */
    height: 100%;
    z-index: 0; /* Place behind the list items */
    top: 15px;
    height: calc(100% - 86px); 
}

ul.timeline li {
    position: relative;
    margin: 8px 0 48px;
    // padding-left: 20px;
}

ul.timeline li::before {
    content: " ";
    position: absolute;
    border-radius: 50%;
    border: 2px solid #e1e1e1; /* Border for the circle */
    left: -24px; /* Position the circle correctly */
    top: 8px; /* Adjust based on the vertical alignment */
    width: 17px;
    height: 17px;
    z-index: 1; /* Place above the line */
    background: #080f18;
    border: 3px solid #ffffff;
    // box-shadow: 0 0 0 4px #ffffff;
}
// ul.timeline li::after {
//     content: "";
//     position: absolute;
//     border-radius: 50%;
//     top: 8px; /* Position identique au cercle */
//     left: -36px; /* Assure que le masque recouvre la zone du trait */
//     width: 17px; /* Taille du masque pour couvrir le trait */
//     height: 17px; /* Hauteur du masque */
//     background-color: $primary-bg; /* Couleur de fond qui masque le trait (blanc) */
//     z-index: 2; /* Masque le trait à l'intérieur du cercle */
// }
/* Dernier élément de la liste (le dernier li) */
// ul.timeline li:last-child::before {
//     margin-bottom: 0; /* Supprime l'espacement en bas du dernier cercle */
// }

/* Masque le trait sous le dernier cercle */
// ul.timeline li:last-child::after {
//     display: none; /* Désactive le trait vertical sous le dernier élément */
// }

/* Link and Paragraph Styles */
ul.timeline li a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #e1e1e1;
    text-decoration: none;
}

ul.timeline li p {
    color: #c6c6c6;
    margin: 9.6px 0 16px;
    font-size: 1rem;
}


