@import "~bootstrap/scss/bootstrap";  

// Variables
$primary-bg: #1b0927;
$secondary-bg: #845EC2;
$text-light: whitesmoke;
$text-dark: #c4c8ca96;

// Styles
html, body{
    background-color: $primary-bg;
    height: 100%;
}
.navbar, .footer {
    background-color: transparent !important;
}

/////////////////// Navbar ///////////////
.navbar{
    padding: 60px 0px;
    margin:0 14em !important;
    transition: 0.5s;
    display: contents;
}
.circle {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 20%;
    background-color: $secondary-bg;
    transform: translateX(-50%);
}
.container-fluid {
    padding: 60px 325px; // Padding pour desktop
}

// Media query pour les écrans mobiles (moins de 768px)
@media (max-width: 768px) {
    .container-fluid {
        padding: 12px 35px; // Padding pour mobile
    }

    .navbar {
        padding: 12px 0; // Padding pour la navbar sur mobile (ou ajustez selon besoin)
    }
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link {
    position: relative;
    text-decoration: none;
    color: $text-light;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

/* Pseudo-élément pour ajouter la ligne de soulignement sous chaque lien, mais PAS les SVG */
.nav-link::after {
    content: "";
    position: absolute;
    width: 0;  /* Initialement invisible */
    height: 1px;
    bottom: 0;
    left: 50%;  /* Ligne commence au milieu */
    background-color: $text-light;  /* Couleur de la ligne de soulignement */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Lorsque le texte du lien (span) est survolé, la ligne s'étend */
.nav-link:hover::after {
    width: 100%;  /* Réduire la largeur à 50% */
    left: 0%;  /* Centrer la ligne */
}



//////////////   fOOTER   ///////////
.social-media svg {
    transition: none;  /* Aucune animation ou effet de transition */
    fill: $text-dark;
    transition: transform 0.3s ease;
}
.footer p{
    color: $text-light;
}

@keyframes move-arrow {
    0% {
        transform: translateX(0); /* Position initiale */
    }
    50% {
        transform: translateX(20px); /* Déplacement de 10px vers la droite */
    }
    100% {
        transform: translateX(0); /* Retour à la position initiale */
    }
}
.footer svg {
    fill: $text-light;
    animation: move-arrow 1s infinite ease-in-out; /* Animation infinie */
}


  /* Effet de zoom au survol */
  .social-media svg:hover {
    transform: scale(1.2); /* Zoom à 120% */
  }

/////////////////// Textes COLOR///////////////////
.label-form{
    margin-bottom: 17px;
    color: $text-dark;
  }
  .text-contact{
    color: $text-dark;
  }

  .text-footer{
    color: $text-dark;
  }
  .text-home{
    color: $text-dark;
  }
  .text-about{
    color: $text-dark;
    font-weight: 500;
    font-size: larger;
  }
  ////////////////////////////////////////////////////////
 .nav-link{
    font-family: emoji;
    font-size: 22px;
    padding: 8px 15px !important;
    }

.containers {
    margin: 0 5%;
    width: auto !important;
}
.custom-container-about{
    padding-left: 5%!important;
    padding-right: 5% !important;
}

.custom-presentation p{
    padding-left: 2em;
    margin-bottom: 0px;
}

.custom-border{
    border-left: 3px solid;
     margin-left: -2px;
}
.custom-title{
    font-size: 36px;
    font-family: 'Kavoon';
    color: aliceblue;
    margin-bottom: 1em;
}

.h3-about {
    display: inline-block;
     color: #e1e1e1;
}

.custom-container-about .p-title p {
    padding-left: 3%;
    border-left: 2px solid black;
}
 .form-textarea {
    height: 137px;
}
.input-email{
margin-top: 20px;
}
.custom-svg .center {
    text-align: center;
    margin-bottom: 4em;
}
.custom-svg  .icon-svg{
    height: 50px;
    width: 50px;
}
.custom-svg a {
    margin-right: 20%;
    margin-bottom: 5%;
    text-decoration: none !important;
}
.custom-svg .link-twitter, .custom-svg  .link-facebook {
    margin-right: 20%;
}
.button-submit{
    text-align: right;
    padding-top: 3%;    
}
.custom-contact-rs{
    border-bottom: 1px solid;
    border-bottom-color: rgb(131 131 131);
}
.button{
    font-family: 'kavoon';
    background-color: #e1e1e1;
    font-size: 1.1rem;
    border: none;
    padding: 5px 15px;
    text-align: center;
    border-radius: 4px;
}
p {
    text-align: justify !important;
  }

.emailInput {
    margin-top: 5%;
}
  .card-body{
    min-height: 35em;
  }
  .description-card-hover{
    position: absolute !important;
    bottom: 0 !important;
  }
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(174, 179, 193);
  }

////////////////////// MEDIA QUERIES ///////////////
@media only screen and (max-width: 1200px) {
    .custom-contact-rs .custom-svg a span{
        display: none;
    }

    .custom-container-about .para_title p {
        border-left: 1px solid black;
    }
    .custom-svg{
        margin-left: 26px;
        margin-top: 26px;
    }
  }
  @media only screen and (max-width: 768px) {
    .custom-border {
        border-left: 0px solid;
    }
  }




  