@import "~bootstrap/scss/bootstrap";  

// Variables
$primary-bg: #1b0927;
$secondary-bg: #845EC2;
$text-light: whitesmoke;
$text-dark: #c4c8ca96;

// Styles
html, body {
    height: 100%; /* Assure que le html et le body occupent toute la hauteur */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
    overflow-x: hidden; /* Évite le défilement horizontal */
}
// .rotated-text {
//     font-family: 'Courier New', Courier, monospace; /* Choix d'une police intéressante */
//     font-size: 12rem;
//     color: whitesmoke;
//     transform: rotate(90deg); /* Retourner le texte */
//     position: fixed;
//     bottom: 8%; /* Partir du bas */
//     left: 14%; /* Centrer horizontalement */
//     transform: translateX(-50%) rotate(90deg); /* Ajustement pour un bon centrage et rotation */
//     z-index: 0; /* Derrière le fond violet */
//     opacity: 0.1; /* Transparence légère */
//     height: 75vh; /* Prendre les 3/4 de la hauteur de l'écran */
//     display: flex;
//     align-items: flex-end; /* Aligner le texte vers le bas */
//     justify-content: start;
// }
body {
    /* Fond blanc de base */
    background-color: white;
    
    /* S'assurer que l'élément occupe tout l'espace visible */
    margin: 0;
    position: relative;
    min-height: 100vh;
}

body::before {
    /* Le pseudo-élément ::before qui génère les carreaux */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    /* Les carreaux avec des lignes plus grandes et un zoom appliqué */
    background: linear-gradient(rgba(113, 113, 113, 0.07) 1px, transparent 1px) 0% 0% / 120px 110px, 
                linear-gradient(to right, rgba(113, 113, 113, 0.07) 1px, transparent 1px) 0% 0% / 120px 110px;
    
    /* Couleur violette semi-transparente par-dessus */
    background-color: #131720; /* Violet avec 80% d'opacité */
    
    /* S'assurer que le pseudo-élément est en arrière-plan */
    z-index: -1;
}







.navbar, .footer {
    background-color: transparent !important;
}

/////////////////// Navbar ///////////////
.navbar{
    padding: 60px 0px;
    margin:0 14em !important;
    transition: 0.5s;
    display: contents;
}
.circle {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 20%;
    background-color: $secondary-bg;
    transform: translateX(-50%);
}
.container-fluid {
    padding: 60px 325px; // Padding pour desktop
}

// Media query pour les écrans mobiles (moins de 768px)
@media (max-width: 768px) {
    .container-fluid {
        padding: 12px 35px; // Padding pour mobile
    }

    .navbar {
        padding: 12px 0; // Padding pour la navbar sur mobile (ou ajustez selon besoin)
    }
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link {
    position: relative;
    text-decoration: none;
    color: $text-light;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

/* Pseudo-élément pour ajouter la ligne de soulignement sous chaque lien, mais PAS les SVG */
.nav-link::after {
    content: "";
    position: absolute;
    width: 0;  /* Initialement invisible */
    height: 1px;
    bottom: 0;
    left: 50%;  /* Ligne commence au milieu */
    background-color: $text-light;  /* Couleur de la ligne de soulignement */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Lorsque le texte du lien (span) est survolé, la ligne s'étend */
.nav-link:hover::after {
    width: 100%;  /* Réduire la largeur à 50% */
    left: 0%;  /* Centrer la ligne */
}



//////////////   fOOTER   ///////////
.social-media svg {
    transition: none;  /* Aucune animation ou effet de transition */
    fill: $text-dark;
    transition: transform 0.3s ease;
}
.footer p{
    color: $text-light;
}

@keyframes move-arrow {
    0% {
        transform: translateX(0); /* Position initiale */
    }
    50% {
        transform: translateX(20px); /* Déplacement de 10px vers la droite */
    }
    100% {
        transform: translateX(0); /* Retour à la position initiale */
    }
}
.footer svg {
    fill: $text-light;
    animation: move-arrow 1s infinite ease-in-out; /* Animation infinie */
}


  /* Effet de zoom au survol */
  .social-media svg:hover {
    transform: scale(1.2); /* Zoom à 120% */
  }

/////////////////// Textes COLOR///////////////////
.label-form{
    margin-bottom: 17px;
    color: $text-dark;
  }
  .text-contact{
    color: $text-dark;
  }

  .text-footer{
    color: $text-dark;
  }
  .text-home{
    color: $text-dark;
  }
  .text-about{
    color: $text-dark;
    font-weight: 500;
    font-size: larger;
  }
  ////////////////////////////////////////////////////////
 .nav-link{
    font-family: emoji;
    font-size: 22px;
    padding: 8px 15px !important;
    }

.containers {
    margin: 0 5%;
    width: auto !important;
}
.custom-container-about{
    padding-left: 5%!important;
    padding-right: 5% !important;
}
.custom-title{
    font-size: 4.075vw;
    font-weight: 900;
    margin: 4rem 0rem 1.5rem;
    color: $text-light;
}

.custom-presentation p{
    padding-left: 2em;
    margin-bottom: 0px;
}

.custom-border{
    border-left: 3px solid;
     margin-left: -2px;
}

.h3-about {
    display: inline-block;
     color: #e1e1e1;
}

.custom-container-about .p-title p {
    padding-left: 3%;
    border-left: 1px solid whitesmoke;
    height: 150%
}
.p-title {
    position: relative; /* Nécessaire pour que le pseudo-élément soit positionné par rapport à l'élément parent */
    padding-left: 3%;
}

.p-title::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0; /* Étendre la bordure sur toute la hauteur */
    left: 0;
    width: 1px; /* Largeur de la bordure */
    background-color: whitesmoke; /* Couleur de la bordure */
    height: 100%; /* Augmenter la longueur de la bordure, ici à 150% de l'élément */
}

 .form-textarea {
    height: 137px;
}
.input-email{
margin-top: 20px;
}
.custom-svg .center {
    text-align: center;
    margin-bottom: 4em;
}
.custom-svg  .icon-svg{
    height: 50px;
    width: 50px;
}
.custom-svg a {
    margin-right: 20%;
    margin-bottom: 5%;
    text-decoration: none !important;
}
.custom-svg .link-twitter, .custom-svg  .link-facebook {
    margin-right: 20%;
}
.button-submit{
    text-align: right;
    padding-top: 3%;    
}
.custom-contact-rs{
    border-bottom: 1px solid;
    border-bottom-color: rgb(131 131 131);
}
.button{
    // font-family: 'kavoon';
    background-color: #e1e1e1;
    font-size: 1.1rem;
    border: none;
    padding: 5px 15px;
    text-align: center;
    border-radius: 4px;
}
p {
    text-align: justify !important;
  }

.emailInput {
    margin-top: 5%;
}
  .card-body{
    min-height: 35em;
  }
  .description-card-hover{
    position: absolute !important;
    bottom: 0 !important;
  }
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(174, 179, 193);
  }

////////////////////// MEDIA QUERIES ///////////////
@media only screen and (max-width: 1200px) {
    .custom-contact-rs .custom-svg a span{
        display: none;
    }

    .custom-container-about .para_title p {
        border-left: 1px solid black;
    }
    .custom-svg{
        margin-left: 26px;
        margin-top: 26px;
    }
  }
  @media only screen and (max-width: 768px) {
    .custom-border {
        border-left: 0px solid;
    }
  }



  /* Global Styles for About Page */
.custom-container-about {
    position: relative;
}

.custom-title {
    font-size: 3rem;
    font-weight: 700;
    color: #e1e1e1;
}

.h3-about {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #e1e1e1;
}

/* Timeline Styles */
ul.timeline {
    position: relative;
    padding-left: 40px;
    list-style: none;
    padding-bottom: 20px;
}

ul.timeline::before {
    content: " ";
    background: #ffffff5e; /* Line color */
    position: absolute;
    left: 12px; /* Adjust the position so that the line is centered in relation to the circle */
    top: 0;
    width: 1px; /* Line thickness */
    height: 100%;
    z-index: 0; /* Place behind the list items */
    top: 15px;
    height: calc(100% - 86px); 
}

ul.timeline li {
    position: relative;
    margin: 8px 0 48px;
    // padding-left: 20px;
}

ul.timeline li::before {
    content: " ";
    position: absolute;
    border-radius: 50%;
    border: 2px solid #e1e1e1; /* Border for the circle */
    left: -36px; /* Position the circle correctly */
    top: 8px; /* Adjust based on the vertical alignment */
    width: 17px;
    height: 17px;
    z-index: 1; /* Place above the line */
    background: #080f18;
    border: 3px solid #ffffff;
    // box-shadow: 0 0 0 4px #ffffff;
}
// ul.timeline li::after {
//     content: "";
//     position: absolute;
//     border-radius: 50%;
//     top: 8px; /* Position identique au cercle */
//     left: -36px; /* Assure que le masque recouvre la zone du trait */
//     width: 17px; /* Taille du masque pour couvrir le trait */
//     height: 17px; /* Hauteur du masque */
//     background-color: $primary-bg; /* Couleur de fond qui masque le trait (blanc) */
//     z-index: 2; /* Masque le trait à l'intérieur du cercle */
// }
/* Dernier élément de la liste (le dernier li) */
// ul.timeline li:last-child::before {
//     margin-bottom: 0; /* Supprime l'espacement en bas du dernier cercle */
// }

/* Masque le trait sous le dernier cercle */
// ul.timeline li:last-child::after {
//     display: none; /* Désactive le trait vertical sous le dernier élément */
// }

/* Link and Paragraph Styles */
ul.timeline li a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #e1e1e1;
    text-decoration: none;
}

ul.timeline li p {
    color: #c6c6c6;
    margin: 9.6px 0 16px;
    font-size: 1rem;
}
