// Variables
$primary-bg: #1b0927;
$secondary-bg: #845EC2;
$primary-color: #FFFFFFCC;
$secondary-color: #e1e1e1;
$tertiary-color: #c6c6c6;
$text-light: whitesmoke;
$text-dark: #c4c8ca96;
// $text-bg: #1c2a2e;
$text-bg: #314a51;

.rotated-text-contact {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 18rem; /* Taille de police par défaut */
    color: $text-bg; 
    // transform: rotate(90deg); /* Rotation du texte */
    position: fixed; 
    // bottom: 8%; /* Espace depuis le bas */
    // left: 0; /* Collé à gauche */
    // transform: translateY(0) rotate(90deg); /* Ajustement pour aligner à gauche */
    z-index: -1; 
    opacity: 0.2; /* Transparence légère */
    height: 88vh; /* Prend 75% de la hauteur de l'écran */
    display: flex;
    align-items: flex-end; /* Alignement vertical */
    font-weight: 900;
    // justify-content: start; /* Alignement horizontal */
}
@media (max-width: 768px) {
    .rotated-text-contact {
        display: none !important;
    }
}
/* Container padding */
@media (min-width: 992px) {
    .ml-lg-8rem {
        margin-left: 8rem;
    }
    .container{
    padding-right: 28rem !important;}
}

.col-contact {
    padding-left: 10px !important;
}

/* H1 title */
.intro__text {
    font-size: 3rem;
    font-weight: 700;
    color: $secondary-color;
    padding-top: 22px;
}
b{
    color: $secondary-color !important;
}

/* Paragraph under title */
.intro-paragraph {
    font-size: calc(0.875em + 0.9px);
    margin-top: 2.6rem;
    line-height: 2;
    font-weight: 400;
    color: $tertiary-color !important;
}

/* Form fields */
.fields .form-group {
    margin-bottom: 1.5rem;
}

// /* Input fields */
// .fields input[type="text"],
// .fields input[type="email"],
// .fields textarea {
//     width: 100%;
//     padding: 0.75rem;
//     font-size: calc(var(--font-sm) + 0.9px);
//     border: 1px solid #ddd;
//     border-radius: 0.25rem;
//     margin-top: 0.5rem;
// }

/* Submit button */
.button-submit {
    font-size: calc(0.875em + 0.9px);
    margin-top: 0.6rem;
    margin-bottom: 3rem;
    padding: 15px 40px;
    background-color: $secondary-color;
    color: #020a13;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

input, textarea {
    background: transparent !important; /* Arrière-plan transparent */
    // border: 1px solid #e1e1e1 !important; /* Bordure grise (ou une autre couleur) */
    padding: 11px 21px !important; /* Pour l'espacement interne */
    box-shadow: none !important;
    resize: none;
    // margin-bottom: 2rem;
    border-radius: 5px; /* Arrondir les coins si nécessaire */
    color: $secondary-color !important; /* Couleur du texte */
    font-size: 16px; /* Taille du texte */
    border-color: #282d32 !important;
}
input::placeholder,
        textarea::placeholder {
            font-size: 15px; /* Taille de police du placeholder */
            color: #b3abab !important; /* Couleur du placeholder */
        }

textarea {
    height: 200px !important; /* Définit la hauteur à 50% de la hauteur du conteneur parent */
}
input:focus, textarea:focus {
    background-color: rgba(27, 7, 45, 0.943) !important; /* Couleur de fond au focus */
}
