        /* Style pour cacher le contenu de toutes les cartes par défaut */
        .card-text,
        .card-title,
        .list-inline-item {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.3s;
        }

        /* Style pour afficher le contenu de la carte et zoomer au survol */
        .custom-card:hover .card-text,
        .custom-card:hover .card-title,
        .custom-card:hover .list-inline-item {
            visibility: visible;
            opacity: 1;
        }

        /* Style pour le zoom au survol */
        .custom-card:hover {
            transform: scale(1.05); /* Modifiez la valeur pour ajuster l'effet de zoom */
            z-index: 1; /* Permet de mettre la carte survolée au-dessus des autres */
        }

        .custom-card {
            transition: transform 0.3s; /* Ajouter une transition pour une animation fluide */
        }

        .card.h-100.d-flex.flex-column.custom-card {
            min-height: 300px;
            background-size: cover;
        }
        
        .project .card-body {
            padding: 0;
        }
        
        .project .card.h-100.d-flex.flex-column.custom-card:hover .mt-auto {
            color: white;
            opacity: 1;
            background-color: rgba(0, 0, 0, .69);
        }
        
        .project .mt-auto {
            position: fixed;
            bottom: 0;
            width: 100%;

            padding:  5px 20px;
        }

        .project .custom-card {
            border-radius: 0;
        }

        .custom-title{
            font-size: 36px;
            font-family: 'Kavoon';
        }