
        .card-text,
        .card-title,
        .list-inline-item {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.3s;
        }

       
        .custom-card:hover .card-text,
        .custom-card:hover .card-title,
        .custom-card:hover .list-inline-item {
            visibility: visible;
            opacity: 1;
        }

       
        .custom-card:hover {
            transform: scale(1.05); 
            z-index: 1; 
        }

        .custom-card {
            transition: transform 0.3s;
        }

        .card.h-100.d-flex.flex-column.custom-card {
            min-height: 300px;
            background-size: cover;
        }
        
        .project .card-body {
            padding: 0;
        }
        
        .project .card.h-100.d-flex.flex-column.custom-card:hover .mt-auto {
            color: white;
            opacity: 1;
            background-color: rgba(0, 0, 0, .69);
        }
        
        .project .mt-auto {
            position: fixed;
            bottom: 0;
            width: 100%;

            padding:  5px 20px;
        }

        .project .custom-card {
            border-radius: 0;
        }

        .custom-title{
            font-size: 36px;
            font-family: 'Kavoon';
        }
        .technos{
            background: rgb(105, 104, 105);
            padding: 4px 10px;
            border-radius: 50px;
            text-transform: capitalize;
            font-size: 16px;
            margin-right: 6px;
            color: rgb(255, 255, 255);
            font-weight: 500;
        }

        .sidebar-project{
            background-color: #020a13;
            width: 37rem !important;
            color: white;
        }
        .img-sidebar{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .btn-close{
            width: auto;
            font-weight: 900;
            font-size: 0,875em;
            color: #3f566e;
        }
        hr{
            margin-top: -14px;
        }
        .list-inline-sidebar{
            display: flex;
            list-style: none;
            padding-left: 0;
        }

        .website-sidebar{
            font-size: 1,124em;
        }
        .website, .github{
            text-decoration: none;
            font-weight: 800;
            color: #3f566e;
        }
        .svg-sidebar{
            margin-right: 14px;
            height: auto;
            width: 22px;
            padding-bottom: 9px;
        }
        .h3-sidebar{
            margin-bottom: 15px !important;
        }
        .technos-sidebar, .website-sidebar{
            margin-bottom: 3em;
        }
        .techno-sidebar{
            background-color: #13283e;
            padding: 6px 21px;
            border-radius: 4px;
            text-transform: capitalize;
            font-size: 15px;
            margin-right: 10px;
            color: #e1e1e1;
            font-weight: bold;
        }